<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Signup</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
  <script src="{{ url_for('function_static', filename='signup.js') }}" defer></script>
</head>
<body>
  <div class="signupform">
    <h1>Signup</h1>

    <form id="signupForm">
      <label>Email:</label><br>
      <input type="email" id="email" placeholder="Input email" required><br><br>

      <label>Password:</label>

      <div class="password-wrapper">
        <input type="password" id="password" placeholder="Input password" required>

        <svg id="togglePassword" class="eye-icon" viewBox="0 0 24 24">
          <path d="M1 12s4-7 11-7 11 7 11 7-4 7-11 7S1 12 1 12z" 
                stroke="white" stroke-width="2" fill="none"/>
          <circle cx="12" cy="12" r="3" fill="white"/>
        </svg>
      </div>


      <br><br>

      <button id="signupBtn" type="submit">Sign Up</button>
    </form>

    <p id="message"></p>

    <p class="login-link-text">
      Already have an account?
      <a href="{{ url_for('login') }}" class="login-link">Login here</a>
    </p>
  </div>
</body>
</html>
